# Part-A2,A3.A4.ipynb

In [1]:
import pymysql
import tkinter
from tkinter import * 
from tkinter import messagebox
import pandas as pd
from pandastable import Table, TableModel

### A2) The company needs an order look up (i.e. search) based on the following criteria, 
### a) Order number b) Order Date c) Customer code

In [2]:
# Creating main window and setting with width and height        

print("Order Number:")
ordnum=input()

print("Order Date:")
orddate=input()

print("Customer Code:")
custcode=input()

df = TableModel.getSampleData()


conn = pymysql.connect(user="root", password="", host="localhost", database="sunville")
cur = conn.cursor()

if ordnum=="":
    if orddate=="":
        if custcode=="":
            query = ("select * from orders")
            cur.execute(query)
        else:
            query = ("select * from orders WHERE CUST_CODE=%s")
            cur.execute(query,(custcode))    
    else:
        if custcode=="":
            query = ("select * from orders WHERE ORD_DATE=%s")
            cur.execute(query,(orddate))
        else:
            query = ("select * from orders WHERE ORD_DATE=%s and CUST_CODE=%s")
            cur.execute(query,(orddate,custcode)) 
else:
    if orddate=="":
        if custcode=="":
            query = ("select * from orders WHERE ORD_NUM = %s")
            cur.execute(query,(ordnum))
        else:
            query = ("select * from orders WHERE ORD_NUM = %s and CUST_CODE=%s")
            cur.execute(query,(ordnum,custcode))    
    else:
        if custcode=="":
            query = ("select * from orders WHERE ORD_NUM = %s and ORD_DATE=%s")
            cur.execute(query,(ordnum, orddate))
        else:
            query = ("select * from orders WHERE ORD_NUM = %s and ORD_DATE=%s and CUST_CODE=%s")
            cur.execute(query,(ordnum, orddate,custcode)) 

df = pd.DataFrame(list(cur.fetchall()),columns =['ORD_NUM','ORD_AMOUNT','ADVANCE_AMOUNT','ORD_DATE','CUST_CODE','AGENT_CODE','ORD_DESCRIPTION'])
print (df)   

conn.close()

Order Number:
200135
Order Date:

Customer Code:

  ORD_NUM ORD_AMOUNT ADVANCE_AMOUNT    ORD_DATE CUST_CODE AGENT_CODE  \
0  200135    2000.00         800.00  2008-09-16    C00007     A010

  ORD_DESCRIPTION
0           SOD\r

### A3) Generate a report that highlights the balance amounts for all orders in descending order. Do mention the name and code of the agent handling the order.

In [3]:
# Creating main window and setting with width and height        

df = TableModel.getSampleData()

conn = pymysql.connect(user="root", password="", host="localhost", database="sunville")
cur = conn.cursor()
    
# query = ("""CREATE TABLE balance
#       AS (SELECT orders.ORD_NUM, orders.ORD_AMOUNT, orders.ADVANCE_AMOUNT, orders.AGENT_CODE, agents.AGENT_NAME
#       FROM orders, agents
#       WHERE orders.AGENT_CODE = agents.AGENT_CODE)""")
# cur.execute(query)  

query="select * from balance ORDER BY (ORD_AMOUNT - ADVANCE_AMOUNT) DESC"
cur.execute(query)  
df = pd.DataFrame(list(cur.fetchall()),columns =['ORD_NUM','ORD_AMOUNT','ADVANCE_AMOUNT','AGENT_CODE','AGENT_NAME'])
print (df)   

conn.close()

   ORD_NUM ORD_AMOUNT ADVANCE_AMOUNT AGENT_CODE  \
0   200107    4500.00         900.00     A010
1   200108    4000.00         600.00     A004
2   200113    4000.00         600.00     A002
3   200119    4000.00         700.00     A010
4   200109    3500.00         800.00     A010
5   200110    3000.00         500.00     A010
6   200134    4200.00        1800.00     A005
7   200122    2500.00         400.00     A004
8   200127    2500.00         400.00     A003
9   200130    2500.00         400.00     A011
10  200105    2500.00         500.00     A011
11  200128    3500.00        1500.00     A002
12  200129    2500.00         500.00     A006
13  200101    3000.00        1000.00     A008
14  200106    2500.00         700.00     A002
15  200102    2000.00         300.00     A012
16  200112    2000.00         400.00     A007
17  200114    3500.00        2000.00     A008
18  200125    2000.00         600.00     A005
19  200135    2000.00         800.00     A010
20  200104    1500.00         500.00     A004
21  200121    1500.00         600.00     A004
22  200103    1500.00         700.00     A005
23  200133    1200.00         400.00     A002
24  200131     900.00         150.00     A012
25  200111    1000.00         300.00     A008
26  200117     800.00         200.00     A001
27  200126     500.00         100.00     A002
28  200124     500.00         100.00     A007
29  200116     500.00         100.00     A009
30  200120     500.00         100.00     A002
31  200118     500.00         100.00     A006
32  200123     500.00         100.00     A002
33  200100    1000.00         600.00     A003

                                  AGENT_NAME
0   Santakumar
1   Ivan
2   Mukesh
3   Santakumar
4   Santakumar
5   Santakumar
6   Anderson
7   Ivan
8   Alex
9   Ravi Kumar
10  Ravi Kumar
11  Mukesh
12  McDen
13  Alford
14  Mukesh
15  Lucida
16  Ramasundar
17  Alford
18  Anderson
19  Santakumar
20  Ivan
21  Ivan
22  Anderson
23  Mukesh
24  Lucida
25  Alford
26  Subbarao
27  Mukesh
28  Ramasundar
29  Benjamin
30  Mukesh
31  McDen
32  Mukesh
33  Alex

### A4) Which is the country with maximum number of registered customer and what is the collective payment amount and outstanding amount for all these customers collectively.

In [4]:
# Creating main window and setting with width and height        

df = TableModel.getSampleData()

conn = pymysql.connect(user="root", password="", host="localhost", database="sunville")
cur = conn.cursor()
    
query="select CUST_CODE, CUST_COUNTRY,PAYMENT_AMT,OUTSTANDING_AMT from customer"
cur.execute(query)  
df = pd.DataFrame(list(cur.fetchall()),columns =['CUST_CODE', 'CUST_COUNTRY','PAYMENT_AMT','OUTSTANDING_AMT'])
print (df)   

conn.close()

   CUST_CODE CUST_COUNTRY PAYMENT_AMT OUTSTANDING_AMT
0     C00013           UK     7000.00         4000.00
1     C00001          USA     2000.00         6000.00
2     C00020          USA     6000.00         6000.00
3     C00025        India     4000.00         8000.00
4     C00024           UK     7000.00         6000.00
5     C00015           UK     3000.00        11000.00
6     C00002          USA     9000.00         3000.00
7     C00018    Australia     9000.00         5000.00
8     C00021    Australia     7000.00         7000.00
9     C00019        India     7000.00         8000.00
10    C00005        India     7000.00        11000.00
11    C00007        India     9000.00         9000.00
12    C00022        India     9000.00         9000.00
13    C00004    Australia     7000.00         6000.00
14    C00023           UK     7000.00         3000.00
15    C00006       Canada     6000.00        11000.00
16    C00010           UK     5000.00         5000.00
17    C00017        India     3000.00         9000.00
18    C00012          USA     9000.00         3000.00
19    C00008       Canada     9000.00         5000.00
20    C00003       Canada     7000.00         8000.00
21    C00009        India     3000.00        12000.00
22    C00014        India     7000.00        12000.00
23    C00016        India     7000.00        12000.00
24    C00011        India     7000.00        11000.00

In [5]:
cust_country = df.groupby("CUST_COUNTRY")

In [6]:
cust_country['CUST_CODE'].count()

CUST_COUNTRY
Australia     3
Canada        3
India        10
UK            5
USA           4
Name: CUST_CODE, dtype: int64

In [7]:
cust_country['PAYMENT_AMT'].sum()

CUST_COUNTRY
Australia    23000.00
Canada       22000.00
India        63000.00
UK           29000.00
USA          26000.00
Name: PAYMENT_AMT, dtype: object

In [8]:
cust_country['OUTSTANDING_AMT'].sum()

CUST_COUNTRY
Australia     18000.00
Canada        24000.00
India        101000.00
UK            29000.00
USA           18000.00
Name: OUTSTANDING_AMT, dtype: object